.accordion-wrapper {
  &.style-2 {
    .accordion-list-item {
      .accordion-head {
        .accordion-title {
          color: $secondary-color;
        }
      }
      .accordion-item-body {
        color: #5e6f92;
        margin-top: 14px;
        padding-left: 7px;
      }
      //.show.accordion-item-body {
      //  padding-top: 16px;
      //  @include transition;
      //}
    }
  }
}
