.slider-area {
  &.style-3 {
    position: relative;

    .slider-control-btn-wrapper {
      width: 100%;
      right: 0;
      
      .slider-arrow-btn-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;
        a{
          width: 77px;
          height: 52px;
        }
      }
    }
    .slider-nav{
      width: 78px;
      height: 53px;
      border-radius: 50px;
      background-color: transparent;
      box-shadow: 0px 12px 24px 0px rgba(2, 24, 93, 0.06);
      font-size: 24px;
      color: $white;
      border: 2px solid $orange-color;
      @include transition;
      display: flex !important;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      position: absolute;
      top: 50%;
      z-index: 1;
  
      @include sm {
        width: 60px;
        height: 60px;
      }
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
      &.prev-btn{
        left: 55px;
      }
      &.next-btn{
        right: 55px;
      }
    }
    .slick-dots {
      display: flex;
      gap: 20px;
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      margin-bottom: 0;
      list-style: none;

      @include xs{
        bottom: 30px;
      }

      li{
        font-size: 0;
        &.slick-active{
          button{
            width: 48px;
          }
        }
        button{
          width: 18px;
          height: 12px;
          border-radius: 20px;
        }
      }
    }
    .single-slider {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      z-index: 2;
      overflow: hidden;
      height: 924px;

      @include xs {
        height: 580px !important;
      }
      @include sm {
        height: 810px;
      }
      @include md {
        height: 810px;
      }
      @include lg{
        height: 750px;
        padding-top: 108px;
      }
      @include xl{
        height: 780px;
      }
      .slider-overlay {
        background-color: #0e3440;
        opacity: 0.6;
      }

      .slider-content-wrapper {
        text-align: center;

        .slider-content {
          .slider-short-title{
            color: $white;
          }

          .slider-btn-wrapper{
            .theme-btn{
              @include sm{
                padding: 15px 34px;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
}