// About Us Area
.about-us-area {
  &.style-2 {
    padding-top: 120px;
    padding-bottom: 130px ;
    position: relative;

    @include md() {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include sm() {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .shape{
      position: absolute;
      animation: zoomInOut 3s infinite;
      
      &.one{
        top: 170px;
        left: 300px;
      }
      &.two{
        top: 85px;
        right: 70px;
        animation: MoveUpDown 2s linear infinite alternate;
      }
      &.three{
        bottom: 20px;
        left: 110px;
        animation: MoveLeftRight 2s linear infinite alternate;
      }
    }

    .about-info-card {
      .about-info-content {
        padding-left: 100px;
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          padding-left: 0;
        }

        @include rmaxwd(1199) {
          padding-left: 0;
          padding-top: 60px;
        }
        @media only screen and (min-width: 651px) and (max-width: 767px){
          padding-top: 40px;
        }
        @include rmaxwd(651) {
          padding-top: 40px;
        }
        .text {
          @media only screen and (min-width: 992px) and (max-width: 1024px) {
            padding-right: 120px;
          }
        }
      }
    }
  }
}

// Feature Area
.feature-area {
  &.style-2 {
    .feature-area-wrapper  {
      padding: 80px 93px;
      border-radius: 12px;

      @include lg {
        padding: 70px 50px;
      }
      @include xl {
        padding: 70px 50px;
      }
      @include rmaxwd(991) {
        padding: 80px 40px 20px 40px;
      }
    }
  }
}
// progress-area
.progress-area{
  margin-bottom: -76px;
  z-index: 10;
  position: relative;

  @include md{
    margin-bottom: 0;
    padding-bottom: 100px;
  }
  @include sm{
    margin-bottom: 0;
  }
}

// Feature Service Area
.feature-area {
  &.style-3 {
    padding-top: 196px;
    padding-bottom: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include sm {
      padding: 80px 0 20px;
    }
    @include md {
      padding: 100px 0;
    }

    .info-card {
      &.style-3 {
        margin-bottom: 50px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Progress Bar Area
.skill-progressbar-area {
  padding-top: 434px;
  padding-bottom: 120px;
  background-color: #0c2e71;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: -314px;

  @include sm {
    padding-top: 394px;
    padding-bottom: 80px;
  }
   @include md {
     padding-top: 414px;
     padding-bottom: 100px;
   }
}


// Portfolio Area
.portfolio-filter-area {
  padding-top: 120px;
  padding-bottom: 270px;
  position: relative;

  @include sm {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  @include md {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  .shape{
    position: absolute;
    animation: zoomInOut 3s infinite;
    
    &.one{
      top: 55px;
      left: 70px;
    }
    &.two{
      top: 290px;
      right: 120px;
      animation: MoveUpDown 2s linear infinite alternate;
    }
    &.three{
      bottom: 340px;
      left: 90px;
      animation: MoveLeftRight 2s linear infinite alternate;
    }
    &.four{
      bottom: 225px;
      right: 160px;
    }
  }

  .section-title.two-column {
    margin-bottom: 70px;
    @include rmaxwd(991){
      margin-bottom: 30px;
    }
  }
}

// Counter Area
.counter-up-area {
  &.style-2 {
    position: relative;
    background-color: #0c2c36;
    padding-top: 1px;
    padding-bottom: 470px;
    @include rmaxwd(991){
      padding-top: 100px;
      padding-bottom: 410px;
    }
    @include lg{
      padding-bottom: 430px;
    }
    @include xl{
      padding-bottom: 455px;
    }

    .counter-up-area-inner{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 12px;
      overflow: hidden;
      margin-top: -180px;
      @include rmaxwd(991){
        margin-top: 0;
      }

    }
    @include sm {
      padding-top: 80px;
      padding-bottom: 410px;
    } 
    .overlay {
      background-color: rgb(0 0 0 / 30%);
    }

    .counter-item-wrapper{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 100%;
      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2ba271;
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
      @include md{
        height: 100%;
      }
      .counter-card{
        &:first-child{
          border-top: none;
        }
      }
    }
    .counter-card {
      &.style-2  {
        @include rmaxwd(991) {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Why Choose Us
.why-choose-us-area {
  &.style-2 {
    padding-top: 120px;
    padding-bottom: 92px;
    position: relative;

    @include sm {
      padding-top: 80px;
      padding-bottom: 0px;
    }
    @include md {
      padding-top: 100px;
      padding-bottom: 60px;
    }

    .shape{
      position: absolute;
      
      &.one{
        top: 290px;
        left: 80px;
        animation: MoveUpDown 2s linear infinite alternate;
      }
      &.two{
        top: -55px;
        right: 55px;
        left: unset;
        animation: MoveLeftRight 2s linear infinite alternate;
      }
      &.three{
        bottom: 15px;
        right: 175px;
      }
    }

    .section-title{
      @include xs{
        text-align: center;
      }
    }
  }
}
.why-choose-us-image {
  border-radius: 12px;
  overflow: hidden;
  img {
    border-radius: 12px;
  }
}

// Testimonial Slider Area
.testimonial-slider-area {
  &.style-2 {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #0d1c39;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .image-2{
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      @include rmaxwd(1399){
        display: none;
      }
      img{
        margin-left: 351px;
        height: 100%;
        object-fit: cover;

      }
    }
    @include sm {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include md {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

// FAQ Area
.faq-area {
  &.style-2 {
    padding-top: 120px;
    padding-bottom: 120px;
    // background: linear-gradient(to left, #0c2e71 50%, #e9f5f6 50%);
    position: relative;
    @include sm {
      padding-top: 40px;
      padding-bottom: 0px;
    }
    @include md {
      padding: 0;
    }
    @include xl{
      padding: 0;
    }
    .faq-image{
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      @include lg{
        width: 44%;
      }
      @include rmaxwd(991){
        padding: 0 12px;
      }
      @include rmaxwd(991) {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
      }
      img{
        height: 100%;
        border-radius: 12px;
        @include rmaxwd(1399){
          object-fit: cover;
        }
      }
      .faq-image-card {
        display: flex;
        align-items: center;
        gap: 25px;
        justify-content: center;
        padding: 28px 48px;
        background-color: $primary-color;
        position: absolute;
        right: -48px;
        bottom: 90px;
        border-radius: 8px;
        animation: MoveLeftRight 2s linear infinite alternate;

        @include rmaxwd(1199){
          right: 20px;
          bottom: 20px;
        }
        @include xs{
          padding: 20px;
        }

        .icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          color: $black;
          background-color: $orange-color;
        }
        .content {
          display: inline-flex;
          flex-direction: column;

          span {
            display: inline-block;
            width: 100%;
            color: $white;
          }
          .text {
            font-family: $heading-font;
            font-size: 21px;
            font-weight: 500;
            color: $white;

            a {
              color: $white;
            }
          }
        }
      }
    }
    // .accordion-wrapper {
    //   .section-title {
    //     margin-bottom: 60px;

    //     .short-title {
    //       font-size: 18px;
    //       margin-bottom: -7px;
    //     }
    //     .title {
    //       font-size: 48px;
    //       line-height: 60px;
    //     }
    //   }
    // }
  }
}

// Team Area
.team-area {
  padding: 120px 0;
  position: relative;
  
  @include md {
    padding: 100px 0;
  }
  @include sm {
    padding: 80px 0;
  }

  .shape{
    position: absolute;
    
    &.one{
      top: 0;
      right: 100px;
      animation: zoomInOut 4s linear infinite alternate;
    }
    &.two{
      bottom: 190px;
      left: 110px;
      animation: zoomInOut 3s linear infinite alternate;
    }
  }

  .section-title{
    .sec-desc{
      @include xl{
        width: 470px;
      }
    }
  }
}

// Latest Post
.latest-posts-area {
  &.style-2 {
    padding-bottom: 96px;
    position: relative;

    @include sm {
      padding-bottom: 56px;
    }
    @include md {
      padding-bottom: 76px;
    }
    .section-title{
      .sec-desc{
        br{
          @include xl{
            display: none;
          }
        }
      }
    }
    .shape{
      position: absolute;
      
      &.one{
        transform: translateY(50%);
        top: 50%;
        left: 90px;
        animation: MoveUpDown 2s linear infinite alternate;
      }
      &.two{
        top: 200px;
        right: 160px;
        animation: zoomInOut 3s linear infinite alternate;
      }
      &.three{
        bottom: -30px;
        right: 90px;
        animation: MoveUpDown 2s linear infinite alternate;
      }
    }
  }
}

// Map Area
.map-area {
  margin-bottom: -120px;
  position: relative;
  z-index: 9;

  .map-card {
    iframe {
      width: 100%;
      height: 390px;
      border-radius: 12px;
    }
  }
}

// Service Slider Area
.service-slider-area {
  &.style-2 {
    position: relative;
    margin-top: -350px;
    @include xl{
      margin-top: -330px;
    }
    @include lg{
      margin-top: -290px;
    }
    @include md{
      margin-top: -310px;
    }
    @include sm{
      margin-top: -352px;
    }

    .section-title{
      &.two-column{
        @include md{
          // margin-bottom: 20px;
        }
      }
      .sec-desc{
        color: #b3d0da;
        @include xl{
          width: 470px;
        }
      }
    }
    .service-tab-wrapper{
      .nav-tab{
        margin-bottom: 70px;
        @include sm{
          margin-bottom: 30px;
        }
      }
    }
  }
}